{% extends "layout.html" %}

{% block content %}
  <h3>Add a Page</h3>
  <hr>
  <form method="POST" action="/wiki/">
    
    <div>PLACEHOLDER FOR AUTHOR NAME FIELD</div>
    
    <div>PLACEHOLDER FOR AUTHOR EMAIL FIELD</div>
    
    <div class="form-group">
      <label for="title">page title</label>
      <input name="title" type="text" class="form-control"/>
    </div>
    
    <div>PLACEHOLDER FOR CONTENT TEXTAREA FIELD</div>

    <div>PLACEHOLDER FOR TAGS INPUT FIELD</div>
    
    <div>PLACEHOLDER FOR STATUS INPUT FIELD</div>

    <button type="submit" class="btn btn-primary">submit</button>
  
  </form>
{% endblock %}